* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background-color: #dadee1;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#para-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imgs/oldmain.jpg);
  height: 100%;
}

#para-2 {
  background-image: url(imgs/fall-ark.jpg);
  height: 80%;
}

#para-3 {
  background-image: url(imgs/fall-2.jpg);
  height: 80%;
}

#para-4 {
  background-image: url(imgs/glass-chapel.jpg);
  height: 80%;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  position: relative;
  color: white;
  font-size: 200%;
  font-weight: 700;
  display: block;
  text-shadow: 0 3px 0 black;
}

.center-vh {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.center {
  text-align: center;
}
