* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: #272829;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  color: #d97904;
  text-decoration: none;
}

a:hover {
  color: #d97904;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 5;
  font-weight: 700;
  color: #d97904;
}

h3 {
  font-size: 2rem;
  letter-spacing: 2.5;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 2;
  font-weight: 700;
}

p,
li {
  font-size: 1.15rem;
  color: #8f8f8f;
  font-weight: 600;
}

#profile,
#experience,
#skills,
#awards,
#projects,
#contact {
  padding: 7% 10%;
}

/* Header */

#header {
  position: fixed;
  z-index: 9997;
  margin: 0;
  top: 50%;
  padding: 15px;
  transform: translate(0%, -50%);
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }

  #main {
    margin-left: 100px;
  }
}

/* Desktop Nav */

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f5931c;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 991px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #000;
  background: #d3d2d2;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #000;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #000;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/* Mobile test */
@media (min-width: 991px) {
  .mobile-container {
    display: none;
  }
}

.mobile-container {
  margin: auto;
  color: white;
  position: fixed;
  z-index: 9999;
}

.topnav {
  overflow: hidden;
  position: relative;
  padding: 30px 16px;
}

.topnav #myLinks {
  display: none;
}

.mobile-link {
  padding: 8px 16px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  max-width: auto;
  border-radius: 50px;
  color: #fff;
  background: #f5931c;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  background-color: #f5931c;
  border: 0;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Mobile Nav */

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #f5931c;
}

/* Title */

#name {
  font-size: 5rem;
  margin-bottom: 5%;
  color: #fff;
}

.banner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 3px 0 black;
  color: #f9f5f6;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}

.typed-box {
  color: #fff;
  font-size: 2rem;
  min-height: auto;
}

/* Mobile Name, typed, and headings */

@media (max-width: 991px) {
  #name {
    font-size: 10vw;
  }

  .typed-box {
    font-size: 5vw;
  }
}

/* Paralax Images */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  position: relative;
  display: block;
}

#para-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imgs/oldmain.jpg);
  height: 100%;
}

#para-2 {
  background-image: url(Imgs/fall-ark.jpg);
  height: 40%;
}

#para-3 {
  background-image: url(Imgs/fall-2.jpg);
  height: 40%;
}

#para-4 {
  background-image: url(Imgs/glass-chapel.jpg);
  height: 40%;
}

/* Mobile Banner */

@media (max-width: 991px) {
  .parallax {
    background-attachment: scroll;
    z-index: 1;
  }

  #para-2 {
    display: none;
  }

  #para-3 {
    display: none;
  }

  #para-4 {
    display: none;
  }
}

/* Profile */

.about-me {
  text-align: left;
}

#profile-pic {
  border: 4px solid #f5931c;
  border-radius: 100%;
  width: 70%;
}

.bio {
  text-align: left;
}

/* Profile Media Q */

@media (max-width: 991px) {
  .profile-box {
    padding-bottom: 3%;
    padding-top: 3%;
  }

  .about-me {
    text-align: center;
  }

  #profile-pic {
    width: 50%;
  }

  .bio {
    text-align: center;
  }
}

/* Experience */

#experience {
  color: #707070;
}

.exp-collapse {
  color: #000;
}

.exp-collapse:hover {
  color: #000;
}

.card {
  margin-top: 18px;
  box-shadow: 0px 5px 5px #404040;
  background-color: #d1d1d1;
}

.card-title {
  color: #000;
}

.card-date {
  font-style: italic;
}

.card-subtitle {
  color: #d97904;
  font-weight: 700;
}

@media (max-width: 991px) {
  #experience h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* Skills */

/* Awards */

#awards .card {
  padding: 3%;
}

/* Projects */

.carousel-inner {
  border-radius: 25px;
}

/* Contact */

.contact-icon {
  font-size: 1.5rem;
}

/* Back to top Button */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #d3d2d2;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #4e444c;
  line-height: 0;
}

.back-to-top:hover {
  background: #f5931c;
  color: #4e444c;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
